<div id="<%= dom_id violation_report %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Vehicle count:</strong>
    <%= violation_report.vehicle_count %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Latitude:</strong>
    <%= violation_report.latitude %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Longitude:</strong>
    <%= violation_report.longitude %>
  </div>
</div>
